.table {
  display: grid;
  grid-template-columns: auto auto;
  margin-bottom: 1rem;
  text-align: left;
  font-size: var(--fs-200);
  gap: 0.5em 1em;
  padding: 1em 2em;
  border: 1px solid var(--clr-neutral-300);
  border-radius: 1em;
}

.text_xxl {
  margin-bottom: 1rem;
  font-size: var(--fs-700);
  font-weight: var(--fw-600);
}

.text_xl {
  margin-bottom: 1rem;
  font-size: var(--fs-600);
  font-weight: var(--fw-600);
}

.text_l {
  margin-bottom: 1rem;
  font-size: var(--fs-500);
  font-weight: var(--fw-600);
}

.result {
  margin: 1em 0;
  padding: 1em 2em;
  font-size: var(--fs-500);
  border: 1px solid var(--clr-neutral-300);
  border-radius: 1em;
}